<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DKTE</title>
    <link rel="shortcut icon" href="download.png" type="image/x-icon" />
    <link rel="stylesheet" href="static/dkte.css" />
  </head>
  <body>
    <nav>
      <div class="left">
        <img src="Dkte-logo.jpg" alt="logo" />
      </div>
      <div class="right">
        <ul>
          <li><a href="#welcome">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#admi">Admission</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="section-1" id="welcome">
      <div class="bg-black"></div>
      <h1>Welcome to DKTE</h1>
    </div>
    <div class="section-2 gap" id="about">
      <div class="bg-black"></div>
      <div class="header">
        <h1>About us</h1>
      </div>
      <div class="content">
        <!-- <div class="left"></div> -->
        <div class="right">
          <p id="right-cont">
            DKTE'S Textile & Engineering Institute, Ichalkaranji (An Autonomous
            Engineering Colleges in Maharashtra) Affiliated to Shivaji
            University, Kolhapur
          </p>
        </div>
      </div>
      <div class="btm-content">
        <p>
          DKTE'S Textile & Engineering Institute, Ichalkaranji (Top Autonomous
          Engineering College In Maharashtra), established in 1982, as one of
          the first private Engineering Institutes in Maharashtra, DKTE reflects
          the vision of leading industrialists and educationalists. The vast
          exposure and experience of it's founders has helped DKTE to establish
          it's identity as an Institute of repute in the field of Textile &
          Engineering College in Maharashtra. The Autonomous Engineering
          Institute has been awarded “A+” grade by NAAC with 3.53 CGPA in
          recognition of its overall academic excellence and infrastructure.
          Also all the eligible UG programmes have been accredited by NBA, New
          Delhi.
        </p>
        <p>
          Presently the DKTE (Autonomous Engineering Colleges In Maharashtra)
          has been catering to Three Diploma Courses, Twelve Undergraduate
          courses (Five of them in Textiles & Seven in Engineering), Five P.G.
          Courses & Doctorate programs in Engineering & Textiles and Management
          studies program. We have around 4000 students and 209 faculty members.
        </p>
        <p>
          Our institute has emerged as the Winner of 'Best Industry-Linked
          Engineering Institute-2015 & 2017' twice in Chemical & Allied
          Engineering Institute Category in the nation-wide survey conducted
          jointly by AICTE and CII. The institute has also been honored as 'The
          Best Educational Institute for Textile Engineering' by Ministry of
          Textiles, GoI, in 2013.
        </p>
        <p>
          We have Collaborated with many leading Foreign Universities Our
          Institute has been awarded with many prestigious projects by Govt. of
          India like Centre of Excellence in Nonwovens, TBI by DST, TIFAC-CORE
          by DST, TEQIP, etc worth of more than 60 Crore Rupees. Govt. of India,
          Ministry of Textiles has designated our institute as 'Centre of
          Excellence in Nonwovens' and has supported with worth of Rs.25.0
          Crores to this project.
        </p>
      </div>
    </div>
    <div class="section-3 gap" id="admi">
      <!-- <div class="bg-black"></div> -->
      <div class="header">
        <h1>Admission Process</h1>
      </div>
      <div class="cet">
        <h1 class="admission-head">Through CET or JEE</h1>
        <ul>
          <li>Appear for CET Exam or JEE Exam</li>
          <li>Appear for capround of college</li>
          <li>Merit list result</li>
          <li>Document submission and verification</li>
          <li>Class commencement</li>
        </ul>
      </div>
      <div class="management">
        <h1 class="admission-head">Through Management</h1>
        <ul>
          <li>Appear for CET Exam</li>
          <li>Document submission and verification</li>
          <li>Pay Donation</li>
          <li>Class commencement</li>
        </ul>
      </div>
      <div class="program-seats">
        <h1 class="admission-head">B.Tech.Programs seats:</h1>
        <ul>
          <li>Bachelor of Technology (Textile Technology) Intake: 09 Seats</li>
          <li>Bachelor of Technology (Textile Chemistry): 09 Seats</li>
          <li>Bachelor of Technology (Fashion Technology): 05 Seats</li>
          <li>Bachelor of Technology (Man-Made Textile Technolgy): 05 Seats</li>
          <li>Bachelor of Technology (Textile Plant Engineering) : 05 Seats</li>
          <li>
            Bachelor of Technology (Computer Science and Engineering -
            Artificial Intelligence): 9 Seats
          </li>
          <li>
            Bachelor of Technology (Electronics and Telecommunication
            Engineering): 18 Seats
          </li>
        </ul>
      </div>
    </div>
    <div class="section-4 gap" id="contact">
      <div class="header">
        <h1>Contact us</h1>
      </div>
      <form>
        <div class="input-box">
          <label for="studentname">Enter Your name : </label>
          <input type="text" id="studentname" placeholder="Enter your name" />
        </div>
        <div class="input-box">
          <label for="studentemail">Enter Your name : </label>
          <input
            type="email"
            id="studentemail"
            placeholder="Enter your email"
          />
        </div>
        <div class="input-box">
          <label for="studentcontact">Enter Your contact : </label>
          <input
            type="text"
            id="studentcontact"
            placeholder="Enter your contact"
          />
        </div>
        <input type="submit" value="submit" />
      </form>
    </div>
    <footer>
      <ul>
        <li><a href="https://www.dkte.ac.in/">Visit DKTE's page</a></li>
      </ul>
    </footer>
  </body>
</html>
